@model Vidly.ViewModels.CostumerIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Costumers</h2>

@Html.ActionLink("New Costumer", "New", null, new { @class = "btn btn-primary" })

<table class="table table-bordered table-hover" id="costumers">
    <thead>
        <tr>
            <th>Costumer List</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Costumers.Count > 0)
        {
            foreach (var costumer in Model.Costumers)
            {
                <tr>
                    <td>@Html.ActionLink(costumer.Name, "Edit", new { id = costumer.Id })</td>
                    <td>@costumer.MembershipType.Name</td>
                    <td>
                        <button data-costumer-id="@costumer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>There are no costumers.</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#costumers").DataTable();

            $("#costumers").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this costumer?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/costumers/" + button.attr("data-costumer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }

                            });
                        }
                    });

                });
        });
    </script>
}
