@model Vidly.ViewModels.MovieIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Movies.Count > 0)
    {
        foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">There are no movies.</td>
        </tr>
    }
    </tbody>
</table>