@model dynamic

@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Costumer</label>
        <div class="tt-container">
            <input id="costumer" name="costumer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-validMovie="true" type="text" value="" class="form-control"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {

            var vm = {
                moviesId: []
            };

            var costumers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/API/Costumers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/API/Movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#costumer').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'costumers',
                    display: 'name',
                    source: costumers
                }).on("typeahead:select",
                function(e, costumer) {
                    vm.costumerId = costumer.id;
                });

            $('#movie').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select",
                function(e, movie) {

                    vm.moviesId.push(movie.id);

                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movie").typeahead("val", "");
                });

            $.validator.addMethod("validCustomer",
                function() {
                    return vm.costumerId && vm.costumerId !== 0;
                },
                "Please select a valid costumer.");

            $.validator.addMethod("validMovie",
                function() {
                    return vm.moviesId.length > 0;
                },
                "Please select at least one movie.");

            var validator = $("#newRental").validate({
                submitHandler: function() {

                    $.ajax({
                            url: "/API/newRentals",
                            method: "POST",
                            data: vm
                        })
                        .done(function() {

                            toastr.success("Rentals successfully recorded.");

                            $("#costumer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();

                            vm = { moviesId: [] };

                            validator.resetForm();
                        })
                        .fail(function() {
                            toastr.error("Something unexpected happened.");
                        });

                    return false;
                }
            });
        });
    </script>
}
